/*CONFIGURAÇÕES INICIAS*/
html, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*MENU*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CA146;
    border-bottom: 2px black solid;
}
#img_menu{
    border: 2.5px black solid;
    border-radius: 10px;
    width:15vh;
    margin: 10px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}
.links{
    font: normal 20pt Bebas Neue;
    padding: 0px 20px;
    color: white;
    text-decoration:none;
}
.links:hover{
    border-bottom: 2px black solid;
    font-size: 25pt;
}
/*CAPA*/
.centro{
    display: flex;
    justify-content: center;
}
.capa{
    background-color: #75BE6E;
    text-align: center;
    margin: 0;
    height: 100%;
}
#titulo_capa{
    font: normal 30pt Bebas Neue;
}
.hr_preto{
    width: 50px;
    border:1px black solid;
}
#sub_titulo_capa{
    font: normal 20pt Bebas Neue;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
/*SEÇÃO SITUAÇÃO*/
.margin20{
    box-shadow: 5px 8px 7.5px black;
    margin-left: 20%;    
    margin-right: 20%;
    border-radius: 20px;
}
.font{
    font: normal 25pt Bebas Neue;
}
.titulo{
    text-align: center;
    background-color: #4CA146;
    border-bottom: 2px black solid;
    border-radius: 20px;
}
.sub_titulo_entenda u{
    font: normal 20pt Bebas Neue;
    text-decoration-color: green;
    padding-left: 10px;
}
.paragrafo_entenda{
    font: normal 15pt Bebas Neue;
    text-align: justify;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.a_situação:hover{
    font-size: 20pt;
    color:red;
    transition: 0.5s;
}
/*SEÇÃO SAIBA MAIS*/
.video{
    padding: 0 10px;
    width: 30%;
}
/*SEÇÃO AJUDA GESTANTE*/
.div_ajuda_gestante_saude_mental{
    background-color: #75BE6E;
    display:flex;
    justify-content: space-around;
}
.h4_ajuda{
    padding-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}
.hr_branco{
    width: 50px;
    border: 1px white solid;
}
.p_ajuda{
    font: normal 20pt Bebas Neue;
}
.div_img_direita{
    margin-top: auto;
}
.img_direita{
    max-width: 85%;
}
/*SEÇÃO AJUDA SAÚDE PUBLICA*/
.div_ajuda_saude_publica{
    background-color: #4CA146;
    display: flex;
    justify-content: space-around;
}
.div_img_esquerda{
    margin-top: auto;
}
.img_esquerda{
    max-width: 80%;
}
a{
    color: black;
    text-decoration:none;
}
.width_texto_direito a:hover{
    font-size: 25pt;
    transition: 0.5s;
}
/*SEÇÃO AJUDA SAÚDE MENTAL*/
.img_saude_mental{
    max-width: 100%;
}
.img_saude_menta2{
    max-width: 100%;
}
/*QUEM SOU?*/
.section_quem_sou{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
}
h5{
    text-align: center;
    margin-bottom: 20px;
}
.div_p_quem_sou{
    margin: 10px;
    text-align: justify;
    font: normal 20pt Bebas Neue;
}
#p_divulgacao{
    text-align: center;
}
.divulgacao{
    width: 25px;
    padding: 0 40px;
}
#img_quem_sou{
    margin: 10px;
    border: 5px black solid;
    border-radius: 180px;
}
/*FIM DO SITE*/
footer{
    background-color: #ABD97B;
    display:flex;
    justify-content: space-around;
}
.div_fim_site{
    text-align: start;
    font: normal 15pt Bebas Neue;
    padding: 30px 75px;
}
.hr_footer{
    margin-left: 20px;
}
.p_fim{
    font: normal 20pt Bebas Neue;
}
h6{
    padding-left: 20px;
    margin: 0 auto;
}
.h6_credito{
    padding-left: 0;
}
/*RESPONSIVIDADE*/
@media all and (max-width: 870px) {
    /*MENU*/
    #img_menu{
        width: 10vh;
        margin-left: 5px;
    }
    .links{
        padding: 0px 5px;
        font-size: 10pt;
    }
    .links:hover{
        border-bottom: 2px black solid;
        font-size: 15pt;
    }
    /*CAPA*/
    #titulo_capa{
        font-size: 20pt;
    }
    #sub_titulo_capa{
        font-size: 12.5pt;
    }
    #img_capa{
        max-width: 50%;
    }
    /*SEÇÃO SITUAÇÃO*/
    .font{
        font-size: 15pt;
    }
    .sub_titulo_entenda u{
        font-size: 12.5pt;
    }
    .paragrafo_entenda{
        font-size: 10pt;
    }
    .a_situação:hover{
        font-size: 15pt;
        transition: 0.5s;
    }
    /*SEÇÃO SAIBA MAIS*/
    .centro{
        flex-direction: column;
    }
    .video{
        padding-top: 10px;
        margin: 0 auto;
        width:50%;
    }
    /*SEÇÃO AJUDA GESTANTE*/
    .div_ajuda_gestante{
        display:flex;
        flex-direction:column-reverse;
    }
    .h4_ajuda{
        margin-top: 0;
        padding-top:0;
    }
    .width_texto_esquerdo{
        text-align: center;
    }
    .marcador{
        list-style: none;
    }
    .p_ajuda{
        font-size: 10pt;
    }
    .div_img_direita{
        margin-bottom: 0;
        text-align:center;
    }
    .img_direita{
        max-height: 175px;
    }
    /*SEÇÃO AJUDA SAÚDE PUBLICA*/
    .div_ajuda_saude_publica{
        display: flex;
        flex-direction: column;
    }
    .width_texto_direito{
        text-align: center;
    }
    .div_img_esquerda{
        text-align: center;
    }
    .img_esquerda{
        max-height: 175px;
    }
    .width_texto_direito a{
        text-decoration: underline;
    }
    .width_texto_direito a:hover{
        font-size: 12.5pt;
        transition: 0.5s;
    }
    /*SEÇÃO AJUDA SAÚDE MENTAL*/
    .div_ajuda_saude_mental{
        display:flex;
        flex-direction: column;
    }
    .div_p_saude_mental{
        text-align: center;
    }
    .div_img_saude_mental{
        text-align: center;
    }
    .img_saude_mental{
        max-width: 100px;
    }
    .img_saude_mental2{
        max-width: 0;
    }
    /*QUEM SOU?*/
    .section_quem_sou{
        display: flex;
        flex-direction: column-reverse;
    }
    #img_quem_sou{
        max-width: 125px;
        border: 2.5px black solid;
    }
    h5{
        margin: 10px 0;
    }
    .div_p_quem_sou{
        margin: 0 10px;
        text-align: center;
        font: normal 12.5pt Bebas Neue;
    }
    .divulgacao{
        width: 15px;
        padding: 0 20px;
    }
    /*FIM DO SITE*/
    .div_fim_site{
        margin: 0 10px;
        text-align: start;
        font: normal 15pt Bebas Neue;
        padding: 30px 0px;
    }
    .hr_footer{
        margin-left: 20px;
    }
    .p_fim{
        font: normal 12.5pt Bebas Neue;
    }
    h6{
        padding-left: 30px;
        margin: 0 auto;
    }
    .h6_credito{
        padding-left: 15px;
    }
}
@media all and (max-width: 300px) {
    /*MENU*/
    #img_menu{
        width: 5vh;
        margin-left: 1.5px;
    }
    .links{
        font: normal 8pt Bebas Neue;
        padding: 0px 5px;
    }
}